.shopContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-top: 3.4em;
}

.heroSection {
  width: 100%;
  max-width: 100%;
}

.imageStyles {
  width: 100%;
  height: auto;
}
.imageStyles img {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
  max-height: 380px;
}

/* ------------------------------------------------------*/

.introSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2.5em;
}

.introWrapper {
  margin-bottom: 1em;
}
.introHeading {
  font-weight: 600;
  font-size: 2em;
  background: linear-gradient(
    270deg,
    #a855f7,
    #9333ea,
    #3b82f6,
    #ec4899,
    #7e22ce,
    #a855f7
  );
  background-size: 600% 600%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  letter-spacing: -0.5px;
  animation: gradient 8s ease infinite;
}

.introTextWrapper p {
  font-size: 1.1rem;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* ------------------------------------------- */

.productContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 0.5em;
  border: 1px solid rgb(25, 0, 255);
}

.productFilterWrapper {
  flex-grow: 0;
  border: 1px solid black;
}

.filterBtn {
  padding: 4px 10px;
  font-size: 0.875rem;
}
.filterBtn svg {
  width: 12px;
  height: 12px;
  margin-left: 10px;
}

/* ------------filterOptionsOnMobileContainer------------------ */

.filterOptionsOnMobileContainer {
  display: flex;
}
.productFilterWrapper {
  flex: 1;
  text-align: start;
}
.filterOptionsOnMobile {
  position: absolute;
  top: 0;
  left: 0;
  width: 80vw;
  height: 100vh;
  border: 1px solid rebeccapurple;
  background-color: white;
  z-index: 2000; /* make sure it sits above other elements */
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.5s ease-in-out, opacity 0.6s ease-in-out;
}

.filterOptionsOnMobile.show {
  transform: translateX(0);
  opacity: 1;
}

.filterNavWrapper {
  display: flex;
  justify-content: space-between;
  padding: 12px 12px;
  background-color: #c286fa;
}
.filterNavWrapper h2 {
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  color: #f7eeff;
}
.filterNavWrapper button {
  display: grid;
  place-items: center;
  background-color: transparent;
  height: 28.8px;
  border: none;
  padding: 0;
}

.filterList {
  text-align: start;
  padding: 0 2em;
  margin-top: 2em;
}

.genderWrapper h3,
.categoryWrapper h3 {
  font-size: 0.9rem;
  font-weight: 500;
  padding: 0.5em 0;
}

.genderOptions,
.categoryOptions {
  border-top: 1px solid #ccc;
  padding: 0.5em 0.8em;
}
.genderOptions ul,
.categoryOptions ul {
  list-style: none;
}
.genderOptions ul li,
.categoryOptions ul li {
  margin-bottom: 0.775em;
}
.genderOptions li label,
.categoryOptions li label {
  display: flex;
  justify-content: space-between;
}

/* -----------------productListContainer---------------- */

.productListContainer {
  display: flex;
  border: 1px solid red;
  margin-top: 1em;
}
.productListWrapper ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  list-style: none;
  gap: 6px;
}
.productListWrapper ul li {
  display: flex;
  flex-direction: column;
}
.productImage img {
  display: block;
  width: 100%;
  height: 180px;
  object-fit: contain;
  padding: 1em;
  background-color: #c286fa18;
  border-radius: 8px;
}
.productInfoWrapper {
  padding: 0.5em 0.875em;
}
.productInfoWrapper p {
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2; /* number of lines before ellipsis */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal; /* allows multi-line clamp */
  font-size: 0.95rem;
}
/* -----------------For Larger Screens---------------- */
@media (min-width: 740px) {
  .imageStyles img {
    height: auto;
    min-width: 100%;
  }

  /* ----introSection----- */

  .introSection {
    padding: 4.5em;
  }
  .introHeading {
    font-size: 2.5em;
  }

  /* ----productContainer---- */

  .productContainer {
    padding: 0 4.5em;
  }

  /* ----------- */
  .filterOptionsOnMobile {
    display: none;
  }
}
