.shopContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-top: 3.4em;
}

.heroSection {
  width: 100%;
  max-width: 100%;
}

.imageStyles {
  width: 100%;
  height: auto;
}
.imageStyles img {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
  max-height: 380px;
}

/* ------------------------------------------------------*/

.introSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2.5em;
}

.introWrapper {
  margin-bottom: 1em;
}
.introHeading {
  font-weight: 600;
  font-size: 2em;
  background: linear-gradient(
    270deg,
    #a855f7,
    #9333ea,
    #3b82f6,
    #ec4899,
    #7e22ce,
    #a855f7
  );
  background-size: 600% 600%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  letter-spacing: -0.5px;
  animation: gradient 8s ease infinite;
}

.introTextWrapper p {
  font-size: 1.1rem;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* ------------------------------------------- */

.productContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 0.5em;
  /* border: 1px solid rgb(25, 0, 255); */
}

.productFilterWrapper {
  flex-grow: 0;
  /* border: 1px solid black; */
}

.filterBtn {
  padding: 4px 10px;
  font-size: 0.875rem;
}
.filterBtn svg {
  width: 12px;
  height: 12px;
  margin-left: 10px;
}

/* ------------filterOptionsOnMobileContainer------------------ */

.filterOptionsOnMobileContainer {
  display: flex;
}
.productFilterWrapper {
  display: flex;
  justify-content: space-between;
  flex: 1;
  text-align: start;
}
.filterLayout {
  height: 28px;
}
.filterLayoutGrid2 {
  border: none;
  background-color: transparent;
}
.filterLayoutGrid2 svg {
  width: 32px;
  height: 32px;
  padding-bottom: 4px;
}
.filterLayoutGrid3 {
  display: none;
}
.filterOptionsOnMobile {
  position: absolute;
  top: 0;
  left: 0;
  width: 80vw;
  height: 100vh;
  border: 1px solid rebeccapurple;
  background-color: white;
  z-index: 2000; /* make sure it sits above other elements */
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.5s ease-in-out, opacity 0.6s ease-in-out;
}

.filterOptionsOnMobile.show {
  transform: translateX(0);
  opacity: 1;
}

.filterNavWrapper {
  display: flex;
  justify-content: space-between;
  padding: 12px 12px;
  background-color: #c286fa;
}
.filterNavWrapper h2 {
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  color: #f7eeff;
}
.filterNavWrapper button {
  display: grid;
  place-items: center;
  background-color: transparent;
  height: 28.8px;
  border: none;
  padding: 0;
}

.filterList {
  text-align: start;
  padding: 0 2em;
  margin-top: 2em;
}

.genderWrapper h3,
.categoryWrapper h3 {
  font-size: 0.9rem;
  font-weight: 500;
  padding: 0.5em 0;
}

.genderOptions,
.categoryOptions {
  border-top: 1px solid #ccc;
  padding: 0.5em 0.8em;
}
.genderOptions ul,
.categoryOptions ul {
  list-style: none;
}
.genderOptions ul li,
.categoryOptions ul li {
  margin-bottom: 0.775em;
}
.genderOptions li label,
.categoryOptions li label {
  display: flex;
  justify-content: space-between;
}

/* -----------------productListContainer---------------- */
.productFilterWrapper {
  background-color: #c286fa59;
}
.productListContainer {
  display: flex;
  /* border: 1px solid red; */
  margin-top: 1em;
}
.productListWrapper ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  list-style: none;
  gap: 10px;
}
.productListWrapper ul li {
  width: 100%;
}
.productListWrapper ul li a:hover {
  text-decoration: none;
  color: inherit;
}
.productCard {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid #e5e5e5;
  border-radius: 12px;
  overflow: hidden;
  background-color: #fff;
}
.productImage img {
  display: block;
  width: 100%;
  height: 180px;
  object-fit: contain;
  padding: 1em;
  background-color: #c286fa18;
  border-radius: 8px;
}
.productInfoWrapper {
  padding: 0.5em 0.875em;
}
.productInfoWrapper p {
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2; /* number of lines before ellipsis */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal; /* allows multi-line clamp */
  font-size: 0.95rem;
}
.addToCartWrapper {
  position: absolute;
  width: 90%;
  padding: 8px 0;
  background-color: #c286faee;
  top: 52%;
  right: 5%;
  border-radius: 6px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease;
  border: 1px solid rgb(85, 59, 107);
}
/* -----------------For Larger Screens---------------- */
@media (min-width: 740px) {
  .imageStyles img {
    height: auto;
    min-width: 100%;
  }

  /* ----introSection----- */

  .introSection {
    padding: 4.5em;
  }
  .introHeading {
    font-size: 2.5em;
  }

  /* ----productContainer---- */

  .productContainer {
    width: 80%;
  }

  .filterBtn {
    padding: 0.5em 0.875em;
    font-size: 1.05em;
  }
  /* ----------- */
  .filterOptionsOnMobile {
    display: none;
  }

  /* ---------------------------- */
  .productFilterWrapper {
    display: flex;
    justify-content: space-between;
  }
  .filterLayout {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 0.25em 1em 0 0;
    height: 100%;
  }
  .filterLayoutGrid2 svg {
    width: 34px;
    height: 34px;
    padding: 0;
  }
  .filterLayoutGrid2,
  .filterLayoutGrid3 {
    display: block;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .productListWrapper {
    width: 100%;
  }
  .productListWrapper ul {
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
  }

  .productCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding: 1em;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
  }
  .productCard:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  }
  .productCard:hover .addToCartWrapper {
    opacity: 1;
    visibility: visible;
  }

  .productImage {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.75em;
  }
  .productImage img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .productInfoWrapper {
    width: 100%;
    text-align: center;
  }
  .productInfoWrapper p {
    font-size: 1.025rem;
    line-clamp: 1;
    margin: 0.25em 0;
    -webkit-line-clamp: 1;
  }
  .productInfoWrapper span {
    font-size: 0.875rem;
  }

  .addToCartWrapper {
    width: 80%;
    padding: 16px 0;
    top: 69%;
    right: 10%;
    cursor: pointer;
  }
  .addToCartWrapper:hover {
    color: #00000088;
  }
}

/* -------For large Desktop screens */
@media (min-width: 2030px) {
  .productListWrapper ul {
    grid-template-columns: repeat(3, 1fr);
  }
}
