.itemContainer {
  width: 100%;
  margin-top: 3.4em;
}

.itemWrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

.imageWrapper {
  width: 100%;
  padding: 2em;
}
.imageWrapper img {
  width: 100%;
  object-fit: contain;
}

.itemInfo {
  text-align: start;
}

.itemTitle h1 {
  font-size: 1.25rem;
  line-height: 1.25em;
}

.itemReview,
.itemPrice {
  margin-top: 0.8em;
}

.itemPrice {
  font-size: 1.1rem;
  padding-bottom: 1.1em;
}

.itemQuantityWrapper {
  width: 100%;
}
.itemQuantity {
  display: flex;
  max-width: 72px;
  padding: 0.4em 0;
  border: 1px solid rgba(85, 59, 107, 0.438);
}
.itemQuantity input {
  width: 100%;
  max-width: 100%;
  text-align: center;
  font-size: 1rem;
  border: none;
}
.itemQuantity input:focus {
  outline: none;
}
.itemQuantity button {
  padding: 0 0.6em;
  background-color: transparent;
  border: none;
}

.itemSubmitBtn {
  margin-top: 1.2em;
  width: 100%;
}
.itemAddBtn {
  width: 100%;
}
.itemAddBtn button {
  width: 100%;
  max-width: 100%;
  padding: 1em;
  background-color: #af7ae0;
  color: #ffffff;
  border: none;
}
.itemAddBtn button span:nth-child(2) {
  padding: 0 0.4em;
}

.descriptionWrapper {
  padding-top: 1.5em;
}
.descriptionWrapper h3 {
  font-size: 1.0875rem;
  padding-bottom: 0.2em;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

@media (min-width: 740px) {
  .itemContainer {
    margin: 0;
    padding-top: 3.4em;
    height: 100vh;
  }
  .itemWrapper {
    height: 100%;
    flex-direction: row;
  }

  .imageWrapper img {
    width: 584px;
    height: 525.6px;
    object-fit: contain;
  }

  .itemInfoWrapper {
    padding: 2em 2em;
  }
  .itemInfo {
    height: 100%;
  }
  .itemTitle h1 {
    font-size: 2.4em;
  }

  .itemQuantityWrapper {
    height: 36px;
  }
  .itemQuantity {
    height: 100%;
    max-width: 82px;
  }

  .itemSubmitBtn button {
    height: 56px;
  }

  .itemQuantity button,
  .itemSubmitBtn button {
    cursor: pointer;
  }
}
