.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
  padding: 8px 4px 0;
}

.logo img {
  width: 40px;
  height: 40px;
}

.nav_right_container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.nav_right_container svg {
  width: 32px;
  height: 32px;
}
.cart {
  position: relative;
}
.cart sup {
  position: absolute;
  top: 14px;
  left: 12px;
}
.cart,
.profile {
  padding-top: 4px;
}

.profileBtn {
  border: none;
}
.hamburgerContainer {
  padding: 0 8px;
}
.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 28px;
  height: 22px;
  border: none;
  cursor: pointer;
  z-index: 1100;
}
.hamburger span {
  display: block;
  height: 3px;
  width: 100%;
  background-color: #a06af7;
  border-radius: 2px;
}

.menu {
  display: flex;
  justify-content: center;
  position: absolute;
  max-width: 35%;
  top: 100%;
  right: 0%;
  background-color: rgba(183, 148, 244, 0.96);
  border: 1px solid rebeccapurple;
  padding: 10px 20px;
  border-radius: 12px 0 0 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transform: translateX(30px);
  pointer-events: none;
  transition: all 0.5s ease-in-out;
}
.menu ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 10px;
}
.menu ul li a {
  color: rgb(85, 59, 107);
  font-weight: 600;
  padding: 10px 20px;
  cursor: pointer;
}

.menu ul li a:hover {
  color: rgb(255, 255, 255);
}

.login {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: rgb(183, 148, 244);
  border: 1px solid rebeccapurple;
  gap: 6px;
  top: 100%;
  right: 21%;
  transition: all 0.5s ease-in-out;
  padding: 6px;
}

.login button {
  padding: 10px 15px;
  border-radius: 32px;
  border: none;
  font-size: 1.075em;
  cursor: pointer;
}

.login button {
  background-color: #f5f5f5;
  font-weight: 600;
  color: #a06af7;
}

/* Effects */
.menuOpen {
  transform: translateX(0);
  pointer-events: auto;
}
.menuClosed {
  transform: translateX(180px);
  pointer-events: none;
}

.loginOpen {
  transform-origin: top;
  transform: translateY(0px) scale(1);
  pointer-events: auto;
  opacity: 1;
}
.loginClose {
  transform-origin: top;
  transform: translateY(-15px) scale(0);
  pointer-events: none;
  opacity: 0;
}
/* Hide desktop version of ul */
.links ul {
  display: none;
}

.hamburgerContainer {
  display: block;
}
/* Hide desktop version of ul */

@media (min-width: 740px) {
  .nav {
    justify-content: space-evenly;
  }
  .hamburger,
  .menu {
    display: none;
  }

  .links ul {
    display: flex;
    list-style: none;
    gap: 4px;
    padding-left: 4em;
  }

  li a {
    border-radius: 32px;
    font-weight: 600;
    padding: 10px 20px;
    color: #a06af7;
  }

  li a:hover {
    background-color: #a06af7;
    color: #f7eeee;
  }

  .nav_right_container {
    display: flex;
    gap: 12px;
  }
  .nav_right_container svg {
    width: 42px;
    height: 42px;
  }

  .profileBtn {
    cursor: pointer;
    padding-bottom: 1px;
  }

  .cart a {
    position: relative;
    display: flex;
    align-items: start;
    color: inherit;
  }
  .cart a:hover {
    color: inherit;
  }
  .cart a svg {
    padding-bottom: 4px;
  }
  .cart sup {
    font-size: 1.1rem;
    font-weight: 600;
    top: 10.5px;
    right: 0.7em;
    color: rgb(85, 59, 107);
  }

  .svg_wrapper:hover {
    color: #a06af7;
  }

  .profile {
    display: grid;
    place-items: center;
    padding-top: 6px;
  }

  .login,
  .loginOpen,
  .loginClose {
    display: none;
    pointer-events: none;
  }
}
